.header-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
}

.header-item {
  color: rgb(153, 151, 151);
  font-family: "Cookie", cursive;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

a {
  color: rgb(153, 151, 151);
  text-decoration: none;
  background-color: transparent;
}

.feature-divider {
  border: solid 3px;
  border-width: large;
  border-bottom: 0;
  display: block;
  width: 30px;
  margin: 25px auto;
  border-color: rgb(153, 151, 151);
}

body {
  margin: 0;
  font-family: "Cookie", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.row1 {
  background-color: #007bff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row2 {
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row-cols-4 > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col {
  margin-top: 25px;
  margin-bottom: 25px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.footer-container {
  display: flexbox;
  justify-content: center;
  margin-top: 25px;
}

.footer {
}
