.header-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.header {
  display: flex;
}

.header-item {
  color: rgb(201, 200, 200);
  font-family: "Cookie", cursive;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

a {
  color: rgb(201, 200, 200);
  text-decoration: none;
  background-color: transparent;
}

.link:hover {
}

.feature-divider-col {
  border: solid 3px;
  padding-right: 950px;
  border-bottom: 0;
  display: block;
  width: 50px;
  margin: 25px auto;
  border-color: #007bff;
}

body {
  margin: 0;
  font-family: "Cookie", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.row2 {
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  border-color: #007bff;
}

.row-cols-4 > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col {
  margin-top: 25px;
  margin-bottom: 25px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}

.card {
  margin-top: 30px;
  margin-left: 555px;
  margin-bottom: 25px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  font-family: "Open Sans Condensed", sans-serif;
}

.footer-container {
  display: flexbox;
  justify-content: center;
  margin-top: 30px;
}

.footer {
  font-family: "Cookie", cursive;
  color: rgb(201, 200, 200);
  text-align: right;
}
